.loading {
  width: 48px;
  height: 48px;
  background: #24304d;
  border-radius: 50%;
  position: relative;
  animation: skLinRotate 1s ease-in-out infinite alternate;
}
.loading:after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #eab308;
}
@keyframes skLinRotate {
  95%,
  100% {
    transform: rotate(840deg);
  }
}
